.userbox {
  position: relative;
}
.userbox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #da0037;
  margin-bottom: 30px;
  border: none;
  border-bottom: 2px solid #da0037;
  outline: none;
  background: transparent;
}
.userbox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.userbox input:focus ~ label,
.userbox input:valid ~ label {
  top: -20px;
  left: 0;
  color: #da0037;
  font-size: 12px;
}
