.eventImages img,
.eventImages > div {
  max-height: 120px;
  min-height: 0;
  width: 50%;
  object-fit: cover;
  max-width: unset;
}

.eventImages div,
.eventImages img {
  border-radius: 0;
}

.eventImages {
  border-radius: 8px;
  overflow: hidden;
}
